@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

#logo{
    height: 50px;
    vertical-align: middle; 
}
#logo-text{
    font-size: 35px;
    vertical-align: middle;
   
}

#header-logo{
    margin-top: 10px;
}
main{
    background-color: #f6f8f9;

}

.container1{
    width: 800px;
    height: 60px;
    background-color: white;
    margin: auto;
}

#button1{
    background-color: #47adf1;
    color: white;
    width: 80px;
    height: 25px;
    border: 1px solid #47adf1;
    border-radius: 4px;
    margin-top: 17px;
    margin-left: 40px;
}
#button2{
    background-color: #ffffff;
    color: #d8dce0;
    width: 80px;
    height: 25px;
    border: 1px solid #d8dce0;
    border-radius: 4px;
    margin-top: 17px;

}